* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: url(../img/background.png);
}

nav {
  position: fixed;
  background-color: #fafafa;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .2);
}

.top-menu {
  float: right;
  margin-right: 50px;
}

.top-menu a {
  float: left;
  border-right: 1px solid #ddd;
  padding: 20px;
  text-decoration: none;
  display: block;
  color: #222;
  text-transform: uppercase;
  font-size: .8em;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.top-menu a:hover {
  background-color: #aaa;
  color: #fff;
}

.top-menu a:first-child {
  border-left: 1px solid #ddd;
}

.logo {
  margin-left: 10px;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  color: #444;
  text-align: center;
}

.profile-photo {
  border-radius: 50%;
  width: 200px;
  margin-top: 10px;
}

.user-name {
  font-size: 2em;
  margin-top: 10px;
  color: #444;  
}

.left-side-wrapper, .right-side-wrapper{
  width: 50%;
  text-align: justify;
  float: left;
  box-sizing: border-box;
  text-indent: 20px;
}

.left-side-wrapper {
  padding-right: 15px;
}

.right-side-wrapper {
  padding-left: 15px;
}

.text-wrapper::after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
}

.achieve-list {
  margin-bottom: 7px;
}

.achieve-list ul {
  list-style: none;
}


.social-links a {
  border: 2px solid #aaa;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  width: 140px; 
  color: #777;
  text-align: center;
  line-height: 40px;
  margin: 10px 5px;
  font-size: 1.3em;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.social-links a:hover {
  background-color: #aaa;
  color: #fff;
}

footer {
    margin-top: 30px;
}

.copyright {
  text-align: center;
  background-color: #fafafa;
  box-shadow: 0 -4px 10px -2px rgba(0, 0, 0, .2);
  line-height: 40px;
}