body {
  background: url('../img/main-bg-img.png');
  background-size: cover;
  overflow-x: hidden;
  color: #fff;
}

/*Header*/

header {
  padding-top: 3%;
  padding-left: 40%;
  padding-right: 20%;
}

  header h2 {
    font-size: 30px;
  }

.top-title {
  font-family: vtks-hunt;
  font-size: 60px;
  text-shadow: 1px 4px 9px rgba(0,0,0,0.7);
}

.top-line {
  margin-left: 30%;
  text-align: center;
}

.about-me {
  text-align: center;
  font-size: 25px;
}

/*content part*/

.main-info {
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 15%;
  text-align: center;
  border: ridge 2px rgba(254, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 3px 5px rgba(0,0,0,0.3);
}

  .main-info h2 {
    font-family: Constantia;
    font-size: 30px;
    text-shadow: 1px 3px 4px rgba(0,0,0,0.5);
  }

  .main-info li {
    list-style-type: none;
    font-size: 25px;
    line-height: 1.5;
  }

/*footer*/

footer {
  margin-top: 10%;
  margin-left: 35%;
  text-align: center;
  padding-bottom: 3%;
}

.social-network {
  margin-left: 45%;
}

a {
  margin: 5px;
  display: block;
  width: 50px;
  height: 50px;
  opacity: 0.7;
  float: left;
}

  a.link-facebook {
    background: url('../img/facebook-icon.png');
  }

    a.link-facebook:hover {
      opacity: 1;
      box-shadow: 3px 5px rgba(0, 0, 0, 0.6);
    }

  a.link-skype {
    background: url('../img/skype-icon.png');
  }

    a.link-skype:hover {
      opacity: 1;
      box-shadow: 3px 5px rgba(0, 0, 0, 0.6);
    }

@font-face {
  font-family: 'vtks-hunt';
  src: url('../fonts/Vtks Hunt.ttf') format('truetype');
}
