.audio-player-tesla-team {
  $color-for-player-container:#000000;
  $color-for-text-in-player:#ffffff;
  $color-for-button:#ffffff;
  $border-color-button:#ffffff;
  $border-color-form-field:#ffffff;
  $height-player:350px;
  $height-play-list:200px;

  background-color: $color-for-player-container;
  width: $height-player;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  color: $color-for-text-in-player;
  margin: auto;

  #player{
    background-color:$color-for-player-container;
  }

  .material-icons.icons-color {
    color: $color-for-button;
    opacity: 0.7;
  }

  .material-icons.icons-color:hover {
    opacity: 1;
  }

  .audio-playlist{
    height:$height-play-list;
    overflow-y:scroll;
    padding-bottom:20px;
  }

   .audio-playlist::-webkit-scrollbar{
    width:0;
  }
  .elem-playlist {
    list-style-type: none;
    text-align: left;
    padding-right: 20px;
  }

  .elem-playlist:hover span {
    display: inline-block;
    width: 15px;
    float: right;
  }

  .selected-button {
    border: 2px solid $border-color-button;
    border-radius: 5px;
  }

  .form-field {
    width: 80%;
    height: 30px;
    border: 2px solid $border-color-form-field;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    color: #fff;
  }

  .button-submit {
    width: 50%;
    height: 40px;
    border: 2px solid $border-color-button;
    border-radius: 5px;
    background-color: rgba(234, 224, 224, 0.54);
    color: $color-for-text-in-player;
    margin-bottom: 10px;
  }

  .show-elem {
    display: inline-block;
  }

  .hide-elem {
    display: none;
  }
}