*{
  margin: 0;
  padding: 0;
}
.player-wrapper{
  height: 50vh;
  width: 50vw;

  .main-video-player-wrapper{
    height: 100%;
    width: 100%;

    button{
      background: none;
      border: none;
      outline: none;
    }

    button.active{
      background: #ccc;
      border-radius: 50%;
    }
  }
}