*{
   margin: 0;
   padding: 0;
}
html{
  font-size: 12px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #6d6f72;
}
  body{
    width: 100%;
  }
  /** styles for header **/
      header{
        width: 100%;
        background-image: url("../img/header-bg.png");
      }
        .page-header-top{
          max-width: 1100px;
          margin: 0 auto;
          height: auto;
          background: #000;
          opacity: 0.5;
          box-shadow: 0 10px 10px 4px #4A4A4A;
          border-radius: 0 0 20px 20px;
        }
          .page-header-top a{
            margin-left: 100px;
            font-size: 290%;
            text-decoration: none;
            color: #D2D2D2;
          }
        .page-header-bottom{
          display: flex;
          flex-flow: wrap;
          max-width: 1000px;
          margin: 0 auto;
          padding: 65px 0;
        }
          .page-avatar{
            margin: 10px 20px 0 10px;
          }
            .page-avatar a{
              display: block;
              width: 120px;
              height: 120px;
              background: url("../img/page-avatar.jpg") center no-repeat;
            }
          .main-page-header{
            flex: 2;
          }
            .main-page-header h1{
              text-transform: uppercase;
              font-size: 250%;
              line-height: 1.6;
              color: #D2D2D2;
            }
            .main-page-header h2{
              font-size: 135%;
              line-height: 3;
              color: #D2D2D2;
            }
          .contact-info{
            line-height: 2.5;
            flex: 1;
          }
            .contact-info a{
              display: block;
              text-decoration: none;
              color: #6D6F72;
            }
              .contact-info a:hover{
                color: #D2D2D2;
                font-size: 102%;
              }
  /** styles for main content **/
      main{
        max-width: 1000px;
        margin: 0 auto;
      }
      main > section{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        line-height: 2.3;
        border-bottom: 1px solid #C9C9C9;
        padding: 25px 0;
        margin: 0 10px;
      }
        main h2{
          font-size: 125%;
          text-transform: uppercase;
          color: #2B2A2A;
        }
        main a{
          text-decoration: none;
          color: #6D6F72;
        }
        main a:hover{
          font-size: 105%;
        }
          main a:visited{
            color: #6D6F72;
          }
        main li{
          list-style: none ;
        }
          main > section > article{
            width: 50%;
          }
          .larger-article{
            width: 70%;
          }
            .larger-article p{
              width: 80%;
              padding: 10px 0 20px;
            }
          .smaller-article{
            width: 30%;
            padding-top: 44px;
            display: flex;
            flex-flow: column;
          }
            .smaller-article a{
              margin: 0 50% 0 10%;
            }
          .list-style-image li{
            background: url("../img/list-bg.png") 0 10px no-repeat;
            padding: 0 10px 10px 30px;
          }
          .language-map{
            width: 50%;
            background: url("../img/map-lang.png") center no-repeat;
            background-size: 100%;
            padding: 140px 0;
          }
      footer{
        max-width: 1000px;
        margin: 0 auto;
        padding: 50px;
      }