
* {
  margin:0;
  padding:0;
}

html {
  font-family: Verdana;
}

body {
  margin:20px auto;
  width:1000px;
}

header {
  background: linear-gradient(white,forestgreen);
}

.main_header {
  display:flex;
  justify-content:center;
}

.photo {
  width:140px;
  height:140px;
  padding:15px;
}

.name {
  font-size:40px;
  padding:100px 15px 15px 15px;
}

nav {
  display:flex;
  flex-direction:raw;
  justify-content:space-around;
  align-items:center;
}

nav a:first-child {
  color:blue;
}

nav a {
  margin:15px;
  padding:15px 25px;
  color:black;
  text-decoration:none;
}

nav a:hover,footer a:hover {
  color:blue;
}

article {
  padding: 25px;
  text-align: center;
  font-size: 12px;
  border-left:25px solid forestgreen;
  border-right:25px solid forestgreen;
}

article ul{
  list-style-position: inside;
  list-style-type:square;
}

article h3 {
  padding:5px;
}

footer {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 15px;
  background: linear-gradient(forestgreen,white);
  font-size: 10px;
}

.contacts {
  text-align: right;
  margin-right: 10px;
}

footer h3, footer  p, footer a, .fb {
  margin-top:5px;
}

footer a {
  color:black;
}

.fb {
  width:30px;
  height: 30px;
}

.logo {
  margin-left:10px;
}
